* {
    padding: 0;
    margin: 0;
    box-sizing:border-box; 
    list-style:none;
    text-decoration:none;
    font-family: Georgia, serif;
}


body{
    padding-top:1rem;
}

div.menu{
    font-size: larger;
    margin-top: 4rem;
    margin-left:-30%;
}

.container{
    position: fixed;
    top: 0;
    left:0;
    width: 100%;
    display:flex;
    justify-content: space-between;
    align-items:center;
    transition:0.5s;
    padding: 30px 100px;
    z-index:999;

}

header{
    position: fixed;
    top: 0;
    left:0;
    z-index:999;
    background-color: rgba(255, 255, 255, 0.7);
  
}

svg {
    width: 100px;
    height: 100px;
    margin: 20px;
    display:inline-block;
    z-index:999;
}

.carting{
    font-size: 0.9rem;
    font-weight: 900;
    position: absolute;
    height: 0.9rem;
    width: 0.6rem;
    
}

.svg-loader {
    width: 100%;
    height: 200px;
    padding-left: 50vw;
}

main{
    margin-left: none;;
}

.container .logo{
    position: sticky;
    top:50px;
    left:0;
    text-decoration: none; 
    font-size: 2em;
    text-transform: uppercase;
    transition: 1s;
    padding-top: 3rem;
}

.horizontal-list{
    position: relative;
    display: flex;
    justify-content: center;
    align-items:center;
}

 .horizontal-list li{
    position: relative;
    margin-right:15px;
 }

 .horizontal-list li a{
    position: relative;
    transition:1s;
    letter-spacing:2px;
    text-decoration: none; 
 }

header{
    padding:10px 100px; 
    box-sizing:border-box;
    /* width:100%;
    height:100vh; */
    box-sizing: auto;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}

.logo-container{
    width:100%;
    height:100vh;
}

.delivery-container a{
    color:black;
}

ul a{
 color:black;
}

.logo img{
    max-width:30%;
}

.menu ul{
    display:flex;
}

.menu{
   box-sizing: border-box;
   height:auto;
    margin:0 auto;
}

li{
    display: inline-block;
    
}

.container { 
    display: flex;
    position: static;
    transition: .3s cubic-bezier(.25,.8,.5,1);
    width: 100%;   
    height:5rem; 
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}


/* FOOTER */
footer {   
    background-color: rgb(244, 244, 244);
    border-radius: 4px;
    color: rgba(0,0,0,.87);
    border-width: thin;
    display: block;
    max-width: 100%;
    outline: none;
    text-decoration: none;
    overflow-wrap: break-word;
    position: relative;
    white-space: normal;
    font-family: Gilroy,Arial,sans-serif
}

footer a{
    color:white;
}

.footer-top-row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-left: 0;
    margin-right: 0;
    padding-top: 12px;
    align-items: center;
}

.visa-master-card {
    flex: 33.3%;
    max-width: 33.3%;
    width: 100%;
    padding: 12px;
    align-self: center;
}

.image-container {
    max-width: 250px;
    position: relative;
    overflow: hidden;
    display: flex;
    margin-left: 56px;
}

.image-container img {
    width: 100%;
    height: 100%;
}

.footer-message {
    color: rgb(62, 62, 62);
    flex: 33.3%;
    max-width: 33.3%;
    width: 100%;
    padding: 12px;
    text-align: center;
    align-self: center;
    font-weight: 700;
    font-size: 1.25rem;
    letter-spacing: .0125em;
    line-height: 2rem;
}

.informational-links {
    flex: 22%;
    max-width: 22%;
    padding: 12px;
}

.informational-links ul {
    list-style: none;
}

.informational-links ul li {
    text-align: right;
    padding: 0;
    font-weight: 300;
    margin-bottom: 16px;
    width: 100%; 
}

.informational-links ul li a {
    font-size: 1.25rem;
    color: rgb(62, 62, 62);
    background-color: transparent;
}

.footer-bottom-row {
    width: 100%;
    display: flex;
    margin-left: 0;
    margin-right: 0;
}

.connection-links {
    flex: 25%;
    max-width: 25%;
    padding: 12px;
}

.connection-link-container {
    color: rgba(0,0,0,.87);
    display: block;
    padding: 8px 0;
    position: static;
    transition: .3s cubic-bezier(.25,.8,.5,1);
}

.connection-link-container:hover {
    background-color: rgb(63, 63, 63, .05);
}

.connection-link-container a {
    min-height: 64px;
    display: flex;
    letter-spacing: normal;
    align-items: center;
    outline: none;
    padding: 0 16px;
    position: relative;
    text-decoration: none;
}

.link-ava {
    height: 40px;
    min-width: 40px;
    background-color: rgb(63, 63, 63);
    margin-bottom: 16px;
    margin-top: 16px;
    margin-right: 16px;
    align-items: center;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    line-height: normal;
    position: relative;
    text-align: center;
    overflow: hidden;
    align-self: center;
}


.link-ava span::before {
 
    color: #fff;
    display: inline-block;
    font: normal normal normal 24px/1 "Material Design Icons";
    font-size: inherit;
    text-rendering: auto;
    line-height: inherit;
}

.link-ava span::after {
    border-radius: 50%;
    content: "";
    display: inline-block;
    height: 100%;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    transform: scale(1.3);
    width: 100%;
    transition: opacity .2s cubic-bezier(.4,0,.6,1);
}

.con-link-info {
    align-items: center;
    align-self: center;
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    overflow: hidden;
    padding: 12px 0;
    opacity: 0.87;
    color: black;
    line-height: 1.2;
}

.con-link-info-title {
    margin-bottom: 2px;
    align-self: center;
    font-size: .9rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    flex: 100%;
}

.con-link-info-subtitle {
    font-size: .8rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    flex: 100%;
    opacity: 0.6;
}

/* /FOOTER */

/* HOME */ 

#page-content{
    margin-top: 10rem;
}

.slider{ 
    width:100%; 
    height: 25rem;  
    overflow: hidden;  
    margin:0; 
    text-align: center;  
    border-bottom: none; 
    
} 
 
.middle{ 
    position: relative; 
} 
 
.navigation{ 
    position:relative;  

    bottom:3rem; 
    left:45%;  
    display:flex; 
    color:#fff; 
} 
 
.bar{ 
    display :'block'; 
    background:rgb(102, 95, 86); 
    height:8px; 
    width:30px; 
    margin:10px; 
    cursor:pointer; 
    opacity: 0.8; 
    border-radius: 10px;  
    transition: all .4s ease; 
} 
 
.bar:hover{ 
    opacity: 0.8; 
    transform: scale(1.3); 
} 
 
 
input[name="r"]{ 
    position:absolute; 
    visibility:hidden; 
} 
 
 
.slides{ 
    width:300%; 
    height:100%; 
    display:flex; 
} 
 
.slide{ 
    width:33.33%; 
    transition: all .6s ease; 
} 
 
.slide img{  
    max-width: 100vw;
    object-fit: cover;
} 

/* TRANSITION SLIDE IMAGES*/ 
#r1:checked ~ .s1{ 
    margin-left:0%; 
} 

#r2:checked ~ .s1{ 
    margin-left:-33.33%; 
} 

#r3:checked ~ .s1{ 
    margin-left:-66.67%; 
}

/* AFTER SLIDER */
.insides h1{
    text-align: center;
    font-size: 5rem;
}

.insides p {
    text-align: center;
    font-size: 2rem;
    margin-top:4rem;
    font-weight:600;
}
    
.parent {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    margin:5rem;
    text-align:center;
    justify-content: space-between;
}

.parent a{
    text-decoration: none;
    color: black;
}
      
.child {
    position: relative;
    flex: 0 0 400px;
    font-size: 2rem;
    text-align: center;
}

      
h2,h3,h4,h5 { 
    position: absolute; 
    bottom: 1rem; 
    left: 0; 
    width: 100%; 
}

/* /HOME */

/* PRODUCTS */
html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
   
.containerp {
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
    display: flex;
}

.left-column {
    width: 65%;
    height:40%;
    position: relative;
     text-align:center; 
}
   
  
.right-column {
    width: 35%;
    margin-top: 60px;
}

.left-column img {
    max-width: 50%;
    position: relative;
    right: 0;
    bottom: 0;
    opacity: 1;
}
   
.product-description {
    border-bottom: 1px solid #E1E8EE;
    margin-bottom: 20px;
}

.product-description span {
    font-size: 12px;
    color: #358ED7;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
}

.product-description h1 {
    font-weight: 300;
    font-size: 52px;
    color: #43484D;
    letter-spacing: -2px;
}

.product-description p {
    font-size: 16px;
    font-weight: 300;
    color: #86939E;
    line-height: 24px;
}

  /* Product Price */
.product-price {
    display: flex;
    align-items: center;
}
   
.product-price span {
    font-size: 26px;
    font-weight: 300;
    color: #43474D;
    margin-right: 20px;
}
   
.cart-btn {
    display: inline-block;
    background-color: #f798bc;
    border-radius: 6px;
    font-size: 16px;
    color: #FFFFFF;
    text-decoration: none;
    padding: 12px 30px;
    transition: all .5s;
}

.cart-btn:hover {
    background-color: #c85564;
}
  /* @media (max-width: 1000px) {
    .containerp {
      flex-direction: column;
      margin-top: 60px;
    }
   
    .left-column,
    .right-column {
      width: 100%;
    }
   
    .left-column img {
      width: 300px;
      left: 0;
      
    }
  }
   
  @media (max-width: 560px) {
    .left-column img {
      width: 220px;
      top: -85px;
    }
  } */

/* /PRODUCTS */


/* CATALOGUE */
h6 {
    text-align:center;
    padding-bottom:3rem;
    padding-top: 1rem;
    font-size: 2rem;
    font-weight: 700;
}
    
.GRID {
    color:black;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(38rem, 1fr));
    grid-gap:1rem;
    overflow: hidden;
}

.info {
    padding:1rem;
    text-align: center;
}   

.onedes img {
    width:40%;    
    height:60%; 
}     

.onedes {
    text-align: center;
}
    
strong {
    font-size: 1.5rem;   
}

.info p {
    font-weight:400;
    margin:1rem;
}
/* /CATALOGUE */

/* ACTIONS */
.action-top {
    font-size: 24px;
    color: #333;
    text-align: center;
    margin: 20px 0 30px;
    position: relative;
}

.act-container {
    margin: 1rem 1rem 2rem 2rem;  
    overflow: auto;
    background-color: rgb(240, 239, 239);
}
.act-img {
     float: left;
     width:50%;
}

.act-img img {
    display: block;
    width:100%;
}

.post-content {
    font-size: 1.5rem;
    margin-left: 55%;
    margin-right:2%;
    margin-top: 1rem;;
    color:rgb(80, 80, 80);
}

.act-date{
    color:rgb(150, 127, 149);
    text-align: right;
    padding-top:0.5rem;
    padding-bottom: 1rem;

}

.act-name{
    font-weight: 700;
    color:black;
    font-size: 2.4rem;
}

.act-description{
   font-size: 1.8rem;
}

/* /ACTIONS */
 
/* VALIDATION */
.validation-top {
    font-size: 24px;
    color: #333;
    text-align: center;
    margin: 20px 0 30px;   
}

input:focus, select:focus{
    box-shadow: 0 0 5px #fac7d0;
    border: 2px solid #ddd;
}

input, select {
    outline:none;
    border: 3px solid #ddd;

    border-radius: 2px;
    font-size: 1rem;
    margin: 0.25rem;
    min-width: 125px;
    padding: 0.5rem;
    transition: background-color 0.5s ease-out;
    float: inline-end;  
}

button{
    display: inline-block;
  background-color: #f798bc;
  border-radius: 6px;
  font-size: 16px;
  color: #FFFFFF;
  text-decoration: none;
  padding: 12px 30px;
  transition: all .5s;
  }

.validation  {
    width: 50%;
    margin: 0 auto;
    font-size: 1.3rem;
    border: 2px solid rgb(236, 195, 195);
    border-radius: 7px;
    
}

form div{
    margin-top: 2rem;
    margin-right:2rem;
}

label{
    margin-left: 2rem;
}

button{
    margin-top:1.5rem;
    margin-bottom:1rem;
    margin-left:1rem;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* /VALIDATION */
  
/* ORDER */

.order-top {
    font-size: 24px;
    color: #333;
    text-align: center;
    margin: 20px 0 30px;
}

.order  {
    width: 50%;
    margin: 0 auto;
    font-size: 1.3rem;
    border: 2px solid rgb(236, 195, 195);
    border-radius: 7px;
   
}

span{
    display: inline-block;
}

.head{
    margin:1rem;
    margin-right:1rem;
}

.info{
    border-bottom:1px solid rgb(231, 207, 207) ;
}

.total{
    border-bottom:1px solid rgb(231, 207, 207) ;
}

.right{
    float:right;
    margin-right: 1rem;
}

.left{
    float:left;
    margin-left: 1rem;
}

.item{
    margin:1rem;   
}

.info-item{
    margin:1rem;
}

/* /ORDER */